
        <h1><%= customer.name %>'s Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Account ID</th>
                    <th>Balance</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <% accounts.forEach(function(account) { %>
                    <tr>
                        <td><%= account.id %></td>
                        <td><%= account.balance %></td>
                        <td><%= account.type %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div class="actions">
            <h3>Actions:</h3>
            <ul>
                <li><a href="/transfer">Transfer Funds between Accounts</a></li>
            </ul>
        </div>
