
        <h1>Welcome to Ada Bank</h1>
        <ul>
            <li><a href="/accounts">View all accounts</a></li>
            <li><a href="/customers">View all customers</a></li>
            <li>
                <form id="searchForm" action="" method="get">
                    <input type="text" id="customerId" name="customerId" placeholder="Enter Customer ID">
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
