
        <h1>Transfer Money</h1>
        <form class="stacked" action="./transfer" method="post">
            <label for="fromId">From Account</label>
            <input type="text" id="fromId" name="fromId">
            <label for="toId">To Account</label>
            <input type="text" id="toId" name="toId">
            <label for="amount">Amount</label>
            <input type="text" id="amount" name="amount">
            <button id="transferBtn" type="submit">Transfer</button>
        </form>
